In [3]:
import sqlite3

conn = sqlite3.connect('students.db')
print("database created")

database created

In [4]:
cursor = conn.cursor()
print("cursor created")

cursor created

In [5]:
cursor.execute('''
CREATE TABLE IF NOT EXISTS students (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT NOT NULL,
    age INTEGER,
    grade TEXT
)
''')
conn.commit()
print("Table created successfully.")

Table created successfully.

In [6]:
def insert_student(name, age, grade):
    cursor.execute("INSERT INTO students (name, age, grade) VALUES (?, ?, ?)", (name, age, grade))
    conn.commit()
    print("Student inserted successfully.")


insert_student('Akshay', 19, 'A')
insert_student('Ankit', 21, 'B')

Student inserted successfully.
Student inserted successfully.

In [8]:
def fetch_students():
    cursor.execute("SELECT * FROM students")
    rows = cursor.fetchall()
    for row in rows:
        print(row)


fetch_students()

(1, 'Riya', 20, 'A')
(2, 'Divyank', 22, 'B')
(3, 'Akshay', 19, 'A')
(4, 'Ankit', 21, 'B')

In [9]:
def update_student(student_id, new_name, new_age, new_grade):
    cursor.execute("UPDATE students SET name=?, age=?, grade=? WHERE id=?", (new_name, new_age, new_grade, student_id))
    conn.commit()
    print("Student updated successfully.")
update_student(1, 'Akshay badoni', 19, 'A+')

Student updated successfully.

In [10]:
def delete_student(student_id):
    cursor.execute("DELETE FROM students WHERE id=?", (student_id,))
    conn.commit()
    print("Student deleted successfully.")


delete_student(2)

Student deleted successfully.

In [11]:
conn.close()
print("Database connection closed.")

Database connection closed.