In [ ]:
#library management system

In [1]:
import sqlite3

conn = sqlite3.connect("library.db")
cur = conn.cursor()

cur.execute('''
CREATE TABLE book(
    book_id INTEGER PRIMARY KEY AUTOINCREMENT,
    title TEXT,
    author TEXT,
    available INTEGER DEFAULT 1
)
''')

conn.commit()

In [2]:
def add_book(title, author):
    cur.execute("INSERT INTO book (title, author) VALUES (?, ?)", (title, author))
    conn.commit()
    print("book added successfully.")

add_book("Rich Dad Poor Dad", "Robert Kiyosaki")
add_book("Think and Grow Rich", "Napoleon Hill")
add_book("Deep Work", "Cal Newport")
add_book("Do Epic Shit", "Ankur Warikoo")

book added successfully.
book added successfully.
book added successfully.
book added successfully.

In [3]:
def show_books():
    cur.execute("SELECT book_id, title, author FROM book WHERE available = 1")
    books = cur.fetchall()

    print("\nBooks available:")
    if books:
        for book in books:
            print(f"{book[0]}. {book[1]} by {book[2]}")
    else:
        print("No books available at the moment.")

In [4]:
def issue_book(book_id):
    cur.execute("SELECT title, available FROM book WHERE book_id = ?", (book_id,))
    result = cur.fetchone()

    if result:
        title, isAvailable = result
        if isAvailable:
            cur.execute("UPDATE book SET available = 0 WHERE book_id = ?", (book_id,))
            conn.commit()
            print(f"Book issued: {title}")
        else:
            print("This book is already issued.")
    else:
        print("Book not found.")

In [5]:
def return_book(book_id):
    cur.execute("SELECT title, available FROM book WHERE book_id = ?", (book_id,))
    result = cur.fetchone()

    if result:
        title, is_Available = result
        if not is_Available:
            cur.execute("UPDATE book SET available = 1 WHERE book_id = ?", (book_id,))
            conn.commit()
            print(f"Book returned: {title}")
        else:
            print("This book was not issued.")
    else:
        print("Book not found.")

In [6]:
show_books()

Books available:
1. Rich Dad Poor Dad by Robert Kiyosaki
2. Think and Grow Rich by Napoleon Hill
3. Deep Work by Cal Newport
4. Do Epic Shit by Ankur Warikoo

In [7]:
issue_book(1)
issue_book(3)

Book issued: Rich Dad Poor Dad
Book issued: Deep Work

In [8]:
return_book(3)

Book returned: Deep Work