In [ ]:
#shopping major projects

In [6]:
import sqlite3

conn = sqlite3.connect("billing.db")
cur = conn.cursor()

# Product Table
cur.execute('''
CREATE TABLE IF NOT EXISTS products (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT,
    price REAL
)
''')

# Cart Table
cur.execute('''
CREATE TABLE IF NOT EXISTS cart (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    product_id INTEGER,
    quantity INTEGER
)
''')

conn.commit()

In [7]:
def add_product(name, price):
    cur.execute("INSERT INTO products (name, price) VALUES (?, ?)", (name, price))
    conn.commit()
    print("Product added successfully.")

add_product("iPhone 15 Pro", "150000")
add_product("Samsung S23", "25000")
add_product("Dell XPS 13", "100000")
add_product("Sony DSLR", "50000")

Product added successfully.
Product added successfully.
Product added successfully.
Product added successfully.

In [8]:
def show_products():
    cur.execute("SELECT * FROM products")
    products = cur.fetchall()
    print("\n Available Products:")
    for p in products:
        print(f"ID: {p[0]} | Name: {p[1]} | Price: ₹{p[2]}")

In [9]:
def purchase_product(product_id, qty):
    cur.execute("INSERT INTO cart (product_id, quantity) VALUES (?, ?)", (product_id, qty))
    conn.commit()
    print(" Added to cart!")

In [10]:
def show_bill():
    cur.execute('''
    SELECT products.name, products.price, cart.quantity, 
           (products.price * cart.quantity) as total 
    FROM cart 
    JOIN products ON products.id = cart.product_id
    ''')
    items = cur.fetchall()
    grand_total = 0

    print("\n Final Bill:")
    for item in items:
        name, price, qty, total = item
        print(f"{name} | ₹{price} x {qty} = ₹{total}")
        grand_total += total

    print(f"Grand Total: ₹{grand_total}")

In [ ]:
show_products()